.roadmap {
  margin: 10rem auto 12rem auto;
  padding: 0 3rem;
}

.roadmap .description {
  font-size: 2rem;
  color: #65718e;
  text-align: center;
  margin-bottom: 8rem;
}

.roadmap .timeline {
  padding: 1em 0;
  margin: 0;  
}

