.roadmap{
    padding: 5rem 0 9rem 0;
    background-color: #0B0C22;
}

.roadmap__timeline{    
    position: relative; 
    margin-top: 1em;    
}

.roadmap__timeline__wrapper::-webkit-scrollbar{
    display: none;
}

.roadmap__timeline__wrapper{    
    user-select: none;
    overflow-x: scroll;
    cursor: grabbing;
}

.roadmap__timeline::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #59C09D;
}

.timeline_node{
    display: inline-flex;
    flex-direction: column;
    width: 38rem;
    height: 18rem;
    position: relative;
}

.timeline_node__date{
    color: #59C09D;
    margin-bottom: 4px;
}

.roadmap__timeline__wrapper__top{
    width: max-content;
}

.roadmap__timeline__wrapper__top .timeline_node{
    padding-left: 1.5em;
}

.roadmap__timeline__wrapper__top .timeline_node::before{
    content: "";
    position: absolute;
    left: calc(.5em - 1px);
    bottom: 0;
    height: calc(100% - 3px);
    width: 2px;
    background: linear-gradient(180deg, #00a3bb 0%, #59c09d 100%);
}

.roadmap__timeline__wrapper__top .timeline_node::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 999px;
    background-color: #00A3BB;
}

.roadmap__timeline__wrapper__bottom{
    width: max-content;
    padding-left: 19.5rem;
}

.roadmap__timeline__wrapper__bottom .timeline_node{
    padding-top: 9rem;
    padding-left: 1.5em;
}

.roadmap__timeline__wrapper__bottom .timeline_node::before{
    content: "";
    position: absolute;
    left: calc(.5em - 1px);
    top: 0;
    height: calc(50% + .5em);
    width: 2px;
    background: linear-gradient(0deg, #00a3bb 0%, #59c09d 100%);
}

.roadmap__timeline__wrapper__bottom .timeline_node::after{
    content: "";
    position: absolute;
    top: calc(50% + .5em);
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 999px;
    background-color: #00A3BB;
}