.roadmap{
    padding: 5rem 0 9rem 0;
    background-color: #0B0C22;
}

.roadmap__timeline{    
    position: relative; 
    margin-top: 1em;    
}

.roadmap__timeline__wrapper::-webkit-scrollbar{
    display: none;
}

.roadmap__timeline__wrapper{    
    user-select: none;
    overflow-x: scroll;
    cursor: grabbing;
}

.timeline_node{
    display: inline-flex;
    flex-direction: column;
    width: 40rem;
    height: max-content;
    position: relative;
    padding-bottom: 1em;
}

.timeline_node__date{
    color: #59C09D;
    margin-bottom: 4px;
}

.roadmap__timeline__wrapper__top{
    width: max-content;    
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    min-width: 100%;
    padding-left: 1em;
}

.roadmap__timeline__wrapper__top .timeline_node{
    padding-left: 1.5em;
}

.roadmap__timeline__wrapper__top .timeline_node::before{
    content: "";
    position: absolute;
    left: calc(.5em - 1px);
    bottom: 0;
    height: calc(100% - 3px);
    width: 2px;
    background: linear-gradient(180deg, #00a3bb 0%, #59c09d 100%);
}

.roadmap__timeline__wrapper__top .timeline_node::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 999px;
    background-color: #00A3BB;
}

.roadmap__timeline__wrapper__bottom{
    width: max-content;
    padding-left: 21rem;
    border-top: 2px solid #59C09D;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.roadmap__timeline__wrapper__bottom .timeline_node{
    padding-top: 9rem;
    padding-left: 1.5em;
}

.roadmap__timeline__wrapper__bottom .timeline_node::before{
    content: "";
    position: absolute;
    left: calc(.5em - 1px);
    top: 0;
    height: 9.5rem;
    width: 2px;
    background: linear-gradient(0deg, #00a3bb 0%, #59c09d 100%);
}

.roadmap__timeline__wrapper__bottom .timeline_node::after{
    content: "";
    position: absolute;
    top: 9.5rem;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 999px;
    background-color: #00A3BB;
}

@media (min-width: 640px) {
    .roadmap__timeline__wrapper__top{
        padding-left: calc(50vw - 270px);
    }   
    .roadmap__timeline__wrapper__bottom{
        padding-left: calc(50vw - 270px + 19.5rem);
    }
}

@media (min-width: 768px) {    
    .roadmap__timeline__wrapper__top{
        padding-left: calc(50vw - 360px);
    }   
    .roadmap__timeline__wrapper__bottom{
        padding-left: calc(50vw - 360px + 19.5rem);
    }
}

@media (min-width: 1024px) {    
    .roadmap__timeline__wrapper__top{
        padding-left: calc(50vw - 480px);
    }   
    .roadmap__timeline__wrapper__bottom{
        padding-left: calc(50vw - 480px + 19.5rem);
    }
}

@media (min-width: 1280px) {    
    .roadmap__timeline__wrapper__top{
        padding-left: calc(50vw - 570px);
    }   
    .roadmap__timeline__wrapper__bottom{
        padding-left: calc(50vw - 570px + 19.5rem);
    }
}

@media (min-width: 1536px) {    
    .roadmap__timeline__wrapper__top{
        padding-left: calc(50vw - 660px);
    }   
    .roadmap__timeline__wrapper__bottom{
        padding-left: calc(50vw - 660px + 19.5rem);
    }
}