.tokenomics{
    min-height: 100vh;
    background-image: url('../../assets/img/token-bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 6rem;
}

.tokenomics__supply{
    text-align: center;
}

.tokenomics__supply__number{
    font-size: 7rem;
    font-weight: bold;
}

.tokenomics__supply__text{
    font-size: 18px;
}

.tokenomics__description{
    margin: 2.2rem 0 5rem 0;
    text-align: center;
}

.tokenomics__chart__doughnut{    
    width: 27rem;
    height: 27rem;
    padding: 3.5rem;
    background-image: url('../../assets/img/bg-chart.png');
    background-size: contain;
    background-position: center;
}

.tokenomics__charts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tokenomics__chart{
    display: flex;
    align-items: center;
}

.tokenomics__chart__content__title{
    font-size: 2.2rem;
    margin-bottom: 3.5rem;
}

.label{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}
.label__color{
    height: 8px;
    width: 8px;
    border-radius: 999px;
}

@media (max-width: 1000px){
    .tokenomics__charts{
        grid-template-columns: 1fr;
    }

    .tokenomics__supply__number{
        font-size: 3rem;
    }

    .tokenomics__chart__content__labels{
        width: max-content;
        margin: auto;
    }
}

@media (max-width: 600px){
    .tokenomics__chart{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}