.card{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .35rem;
    padding: 2rem;
    text-align: center;
}

.card  img{
    width: 50%;
    display: block;
    margin: 4rem auto 2rem auto;
}

.card .title{
    font-size: 2rem;
    color: #031c4e;    
    margin: 1rem 0 1.2rem 0;
}

.card .description{
    color: #65718e;    
    margin-bottom: 1.6rem;
}