.button{
    display: inline-block;
    background-color: #59C09D;
    padding: 1rem 2.5rem;
    border-radius: .25em;
    border: 1px solid #fff;    
    text-transform: uppercase;    
    transition: 
        color .15s ease-in-out, 
        background-color .15s 
        ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.button:hover{
    background-color: #fff;
    color: #022caf;
}