.section-head {
  display: flex;
  justify-content: center;
  position: relative;
}

.section-head__front {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
}

.section-head__front > *{
    font-size: 3.6rem;
    text-shadow: 
        1px  1px     #0D1131, 
        -1px  1px     #0D1131, 
        1px -1px     #0D1131, 
        -1px -1px     #0D1131,
        1px  1px 5px #0D1131;
}

.section-head__behind {
  font-size: 12rem;
  color: #00a3bb1a;
  font-weight: bold;
  text-transform: uppercase;
}
